[submodule "Semperidem/vendor/spdlog"]
	path = Semperidem/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Semperidem/GLFW"]
	path = Semperidem/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Semperidem/vendor/GLFW"]
	path = Semperidem/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Semperidem/vendor/imgui"]
	path = Semperidem/vendor/imgui
	url = https://github.com/TheCherno/imgui
